@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 62.5%;
}

body {
	@apply font-custom;
}

input[type="text"] {
	@apply text-2xl border border-transparent outline-none grow w-[90%] h-full bg-transparent focus:border-secondary;
}

#reset-form label {
	@apply block text-2xl font-semibold;
}

.loader::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	border-radius: 50%;
	width: inherit;
	height: inherit;
	border-top: 2px solid #d3b261;
	border-right: 2px solid transparent;
	animation: spinner8217 0.8s linear infinite;
}

@keyframes spinner8217 {
	to {
		transform: rotate(360deg);
	}
}
